<script src="/itmo_conspects/assets/js/test.js"></script>
<script src="/itmo_conspects/assets/js/subway.js"></script>

<link rel="stylesheet" href="/itmo_conspects/assets/css/theme-switcher-btn.css">
<link rel="stylesheet" href="/itmo_conspects/assets/css/dark-theme.css">
<link rel="stylesheet" href="/itmo_conspects/assets/css/dark-syntax-highlight.css">
<script src="/itmo_conspects/assets/js/theme-switcher.js"></script>
<script src="/itmo_conspects/assets/js/theme-switcher-shortcuts.js"></script>

<meta name="google-site-verification" content="1T4dRG9NdMkpeQn5euYk5alr98ic5hyFqWmH3Z6dC8o" />
